@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.app {
  width: 99.21vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

// Header Styles
.header {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

}
.nav-top {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.nav-top div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  border-right: 2px solid #d5d6d6;
  border-bottom: 1px solid #d5d6d6;
  color: rgba(46, 49, 52, 0.8);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 14px;
}
.nav-bottom {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d5d6d6;
  // padding: 0 10px;
}
.nav-bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.signup-button {
  box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
  border-radius: 4px;
  background-color: #0069d2;
  color: #ffffff;
  margin-top: 1.5em;
  margin-right: 2em;
  width: 5%;
  height: 45%;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-topics {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}
.nav-topics div {
  width: auto;
  height: 100%;
  margin: 0 20px;
  color: rgba(46, 49, 52, 0.8);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 14px;
}
.company-logo {
  margin-left: 3em
}

// Hero Section
.greeting-container {
  height: 801px;
  background: url('./media/hero.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 90px;
}
.greeting-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 7%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #0069d2;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 5em;
}

// Slidebar reviews styles
.slidebar-container {
  height: 40%;
  background: #f4f5f7;
  display: flex;
  align-items: center;
  
}
.slidebar-card {
  box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
  border-radius: 4px;
  background-color: #ffffff;
  height: 80%;
  width: 40%;
  margin: 0 15px;
  padding: 0 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  color: #2e3134;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 24px;
  text-align: center;
  
}
.slidebar-card img {
  margin-bottom: 1.5em;
}
.arrow-buttons {
  width: 60px;
  height: 40px;
  box-shadow: 0 7px 12px rgba(46, 49, 52, 0.3);
  border: 1px solid rgba(244, 245, 247, 0.32);
  background-color: #000c28;
  opacity: 0.8;
  color: #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

//horizontal scroll with css
  // overflow-y: auto;
  // overflow-x: hidden;
  // transform: rotate(-90deg) translateY(-100px);
  // transform-origin: right top;

  // for the children boxes
    // transform: rotate(90deg);
    // transform-origin: right top;